{% extends 'base.html.twig' %}

{% block title %}Create Vehicule{% endblock %}

{% block body %}
    <h1>Create Vehicule</h1>
    <form method="post">
        <input type="text" name="uid" placeholder="Identifiant véhicule" required>
        <input type="text" name="licence_plate" placeholder="Immatriculation" required>
        <input type="text" name="informations" placeholder="Infos sur le véhicule" required>
        <input type="text" name="km" placeholder="Kilométrage" required>
        <button type="submit">Sauvegarder</button>
    </form>
    <a href="{{ path('vehicle_index') }}">Back to list</a>
{% endblock %}
