{% extends 'base.html.twig' %}

{% block title %}Create Customer{% endblock %}

{% block body %}
    <h1>Create Customer</h1>
    <form method="post">
        <input type="text" name="uid" placeholder="UUID - Identifiant unique du document" required>
        <input type="text" name="licence_plate" placeholder="Immatriculation du véhicule" required>
        <input type="text" name="informations" placeholder="Notes sur le véhicule" required>
        <input type="text" name="km" placeholder="Kilométrage du véhicule" required>
        <button type="submit">Sauvegarder</button>
    </form>
    <a href="{{ path('customer_index') }}">Back to list</a>
{% endblock %}
