{% extends 'base.html.twig' %}

{% block title %}Create Vehicule{% endblock %}

{% block body %}
    <h1>Create Vehicule</h1>
    <form method="post" class="form_mongo">

        <label for="id" class="form-label required">Immatriculation</label>
        <input class="form-control mb-3" type="text" name="licence_plate" required>

        <label for="id" class="form-label required">Informations</label>
        <input class="form-control mb-3" type="text" name=" informations" required>
        
        <label for="id" class="form-label required">Kilométrage</label>
        <input class="form-control mb-3" type="text" name="km" required>

        <button class="btn" type="submit">Create</button>
    </form>
    <a href="{{ path('vehicle_index') }}">Back to list</a>
{% endblock %}
